cookie_session_secrets:
  - QtKQZFK4ohGU_aOqfaljAB1OdHH2Un5096OUnLpLXEs
user_credentials:
  dlouvier: eyJJRCI6NDMzNzQ2OTY2NTY5MzQyNjM1OSwiTmFtZSI6ImRsb3V2aWVyIiwiRGlzcGxheU5hbWUiOiJkbG91dmllciIsIkNyZWRlbnRpYWxzIjpbeyJJRCI6IkVadXp6VGNSNUNibGZ0WllBVzN6RW1UUVZibXU2YUFJSjlvcUNSRlFpUUk9IiwiUHVibGljS2V5IjoicFFFQ0F5WWdBU0ZZSUxDd3hsV1JtR284akR6VEU2Q0xxOVZUYXF6QS8wYlArdXhycHV4MUZtNkVJbGdnUWNLQWdCWDlUcCtMdEdGK3VIS0ZkT2VMeTVRdWE4MjVXQ0NRa2xQNkhLcz0iLCJBdHRlc3RhdGlvblR5cGUiOiJub25lIiwiVHJhbnNwb3J0IjpudWxsLCJGbGFncyI6eyJVc2VyUHJlc2VudCI6dHJ1ZSwiVXNlclZlcmlmaWVkIjp0cnVlLCJCYWNrdXBFbGlnaWJsZSI6ZmFsc2UsIkJhY2t1cFN0YXRlIjpmYWxzZX0sIkF1dGhlbnRpY2F0b3IiOnsiQUFHVUlEIjoicmM0QUFqVzh4Z3BraXdzbDhmQlZBdz09IiwiU2lnbkNvdW50IjowLCJDbG9uZVdhcm5pbmciOmZhbHNlLCJBdHRhY2htZW50IjoiIn19XX0=